<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello quang teo</title>
</head>
<body>
    <h1>Hello quang</h1>
</body>
</html>