<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello quang teo</title>
</head>
<body>
    <h1>Chay dc di ma</h1>
    <form method="POST" action="/setup-profile">
        <button type="submit">
            Setup profile
        </button>
    </form>
    <br/>
    <form method="POST" action="/setup-persistent-menu">
        <button type="submit">
            Setup persisent-menu
        </button>
    </form>
</body>
</html>